.button_design{
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(76, 75, 75, 0.305);
    font-weight: 600;
}